@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;700;800;900&family=Quicksand:wght@500&family=Roboto:wght@300&display=swap');

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F8F9FA;
  /* background-image: url("../public/curved-bg-home.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
